svg {

  .number-line {
    stroke: #000000;
    stroke-width: 2
  }

  .actual {
    stroke: #3c763d;
    fill: #3c763d;
  }

  .mean {
    stroke: #8a6d3b;
    fill: #8a6d3b;
  }

  .me {
    stroke: #31708f;
    fill: #31708f;
  }
}
